@use '../custom' as *;

.descuentos {
    .contenedor {
        @include media-breakpoint-up(md) {
            margin-bottom: -2rem;
        }

        h2 {
            color: $dark;
        }

        .buscar {
            border-radius: 0;
        }
    }

}