//Colores
$negro: #000;
$blanco: #FFF;
$morado: #A435F0;
$gris: #F8F9FB;
$gris-oscuro: #6A6F73;
$naranja: #B4690E;

$secondary: $naranja;
$success: $morado;
$light: $gris;
$dark: $negro;

// Tipografía
$headings-font-family: 'Kaisei HarunoUmi', serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$headings-font-weight: 700;

$h2-font-size: 2.7rem;
$h3-font-size: 2.3rem;

// Formularios
$input-border-color: $dark;
$input-border-radius: 1rem;

// Botones
$btn-border-radius: 0;
$btn-font-weight: 700;

// Enlaces
$nav-link-color: $gris-oscuro;
$nav-link-hover-color: $dark;
$nav-link-font-weight: 700;
$nav-link-font-size: .9rem;


// Cards
$card-spacer-x: 0;
$card-border-radius: 0;
$card-border-width: 0;

// Habilitar CSS Grid
$enable-cssgrid: true;

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

